@model List<MVC.Models.RickAndMortyCharacterViewModel>
@{
    ViewBag.Title = "Index";
}

<style>
    .achicarImg {
        height: 70px;
        width: 70px;
    }

</style>

<h2 aling="center">Listado de Personajes API RICK & MORTY</h2>
<h3>@Html.ActionLink("Volver","Volver",null,new {@class= "btn btn-warning" })</h3>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Estado</th>
            <th>Género</th>
            <th>Fecha Creación</th>
            <th>Fotos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>                
                <td>@item.Name</td>
                <td>@item.Species</td>
                <td>@item.Status</td>
                <td>@item.Gender</td>               
                <td>@item.Created</td>  
                <td><img src="@item.Image" class="achicarImg"/></td>
            </tr>
        }
    </tbody>
</table>

