@model MVC.Models.SuppliersViewModel
@{
    ViewBag.Title = "InsertEdit";
}

<style>
    .textboxEstilo {
        background-color: whitesmoke;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: small;
        margin-left: 3%;
        width: 60%;
    }

</style>

<h2>Ingrese o edite el proveedor</h2>

@using (Html.BeginForm("Save", "Suppliers", FormMethod.Post))
{
    @Html.ValidationSummary()
    <div>
        @Html.HiddenFor(s => s.ID);
        @Html.Label("Nombre de Compañía: ")
        @Html.TextBoxFor(s => s.NombreCompania, new { @class = "textboxEstilo" })
        @Html.ValidationMessageFor(s => s.NombreCompania)
    </div>
    <hr />
    <div>
        @Html.Label("Nombre del Contacto: ")
        @Html.TextBoxFor(s => s.NombreContacto, new { @class = "textboxEstilo" })
        @Html.ValidationMessageFor(s => s.NombreContacto)
    </div>
    <hr />
    <div>
        @Html.Label("Ciudad: ")
        @Html.TextBoxFor(s => s.Ciudad, new { @class = "textboxEstilo" })
        @Html.ValidationMessageFor(s => s.Ciudad)
    </div>
    <hr />
    <div>
        <input type="submit" value="Guardar" class="btn btn-primary" />
        @Html.ActionLink("Volver", "GoBack", null, new { @class = "btn btn-danger" })
    </div>
}

